nav {
  padding: 0 100px;
  height: 10vh;
}
nav .container a {
  font-weight: bold;
}
nav ul {
  font-size: 13px;
}

section.home {
  background-image: linear-gradient(rgba(25, 0, 255, 0.3), rgba(25, 0, 255, 0.3)), url(apple.1.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
section.home .body {
  padding-top: 200px;
}
section.home .body h1 {
  font-size: 60px;
  width: 60%;
  margin: 0 auto;
}
section.home .body p {
  width: 44%;
  margin: 0 auto;
  padding: 25px 0;
}
section.home .body a {
  text-decoration: none;
  padding: 10px 23px;
  font-size: 13px;
  background-color: rgb(253, 51, 85);
}

section.servises {
  padding: 100px 0 50px 0;
}
section.servises .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}
section.servises .text h1 {
  font-size: 45px;
}
section.servises .text .line {
  width: 120px;
  height: 2px;
}
section.servises .blocks {
  width: 83%;
  margin: 0 auto;
}
section.servises .blocks .bloc .icon {
  width: 70px;
  height: 70px;
  background-color: rgb(253, 51, 85);
  display: flex;
  justify-content: center;
  align-items: center;
}
section.servises .blocks .bloc p {
  font-size: 15px;
  width: 85%;
  color: rgb(133, 131, 131);
}

section.portfolio .content .image {
  position: relative;
  overflow: hidden;
}
section.portfolio .content .image img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
section.portfolio .content .image:hover img {
  transform: scale(1.3);
}
section.portfolio .content .image .bg-color {
  position: absolute;
  background-color: rgba(25, 0, 255, 0.589);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  display: flex;
  align-items: flex-end;
  padding: 0 0 30px 20px;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
section.portfolio .content .image:hover .bg-color {
  opacity: 1;
}
section.portfolio .content .image .opacity {
  text-transform: uppercase;
}

section.features {
  padding: 100px 0 50px 0;
  background-color: white;
}
section.features .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}
section.features .text h1 {
  font-size: 45px;
}
section.features .text .line {
  width: 120px;
  height: 2px;
}
section.features .blocks {
  width: 83%;
  margin: 0 auto;
}
section.features .blocks .bloc {
  display: flex;
  justify-content: space-between;
}
section.features .blocks .bloc .icon i {
  color: rgb(253, 51, 85);
  font-size: 40px;
}
section.features .blocks .bloc p {
  font-size: 15px;
  width: 85%;
  color: rgb(133, 131, 131);
}

section.teams .team-cards .team-card {
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.767);
}
section.teams .team-cards .team-card:hover img {
  transform: translateY(-60px);
}
section.teams .team-cards .team-card:hover .icons {
  bottom: 0;
}
section.teams .team-cards .team-card:nth-of-type(1) {
  background-color: blue;
}
section.teams .team-cards .team-card:nth-of-type(3) {
  background-color: blue;
}
section.teams .team-cards .team-img {
  overflow: hidden;
  height: 300px;
  position: relative;
}
section.teams .team-cards .team-img img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
section.teams .team-cards .team-img .icons {
  display: flex;
  height: 60px;
  padding: 0 65px;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(253, 51, 85);
  position: absolute;
  width: 100%;
  bottom: -60px;
  transition: 0.5s;
}
section.teams .team-cards .team-img .icons .icon {
  border: 1px solid gray;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.teams .team-cards .team-img .icons .icon i {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
section.teams .team-cards .team-img .icons .icon i:hover {
  background-color: white;
  color: rgb(253, 51, 85);
  width: 100%;
  height: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.teams .team-cards .team-text {
  margin-top: 65px;
  padding: 25px 30px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.teams .team-cards .team-text .team-line {
  height: 2px;
  width: 80px;
  background-color: white;
  margin: 20px 0;
}

section.testimonials {
  background-color: white;
  padding: 100px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 47%;
}
section.testimonials button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
section.testimonials button img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
section.testimonials .tab-icons {
  margin-bottom: 30px;
}
section.testimonials .tab-icons i {
  font-size: 13px;
  color: rgb(253, 51, 85);
}/*# sourceMappingURL=style.css.map */